html
{
    overflow-y:scroll;
}
h1 
{
    display:flex;
    align-items:center;
    background-color: yellowgreen;
}
table 
{
    background: white;
    color: blue;
}
.abc,.abc th,.abc td
{
    border: 1px solid gray;
}
#footer 
{
    border-style: solid;
    border-color: grey;
    position: static;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: white;
}
